<% provide(:title, "Help") %>
<h1 class="center">Instructions</h1>
<p class="info">
  After you make an account or log in, the home page will show current
  issues that you have yet to vote on.  Once you submit a vote, that issue
  will be hidden.  
</p>