<li id="option-<%= option.id %>">
<%= simple_format(option.option) %>
<%= link_to "Delete", [option.issue, option], method: :delete, data: { confirm: "Are you sure you want to delete this option?" } %>
</li>
