<% if @results %>
  <table class="results">
    <col width="30%">
    <col width="30%">
    <col width="30%">
    <tr>
      <th>Issue</th>
      <th>Option</th> 
      <th>User</th>
    </tr>
    <%= render @results %>
  </table>
  <%= will_paginate @results %>
<% end %>