<% if @results %>
  <h2 class="center">Detail</h2>
  <table class="results">
    <col width="45%">
    <col width="40%">
    <col width="15%">
    <tr>
      <th>Issue</th>
      <th>Option</th> 
      <th>User</th>
    </tr>
    <%= render @results %>
  </table>
  <%= will_paginate @results %>
<% end %>