<tr id="result-<%= result.id %>">
  <td>
    <% if @u = User.find_by(id: result.user_id) %>
      <%= @u.username %>
    <% else %>
      ERROR
    <% end %>
  </td>

  <td>
    <% if @i = Issue.find_by(id: result.issue_id) %>
      <%= @i.title %>
    <% else %>
      ERROR
    <% end %>
  </td>

  <td>
    <% if @o = Option.find_by(id: result.option_id) %>
      <%= @o.option %>
    <% else %>
      ERROR
    <% end %>
  </td>
</tr>