@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 50px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  font-weight: bold;
}

.center h1 {
  margin-bottom: 15px;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  //@include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


/* results page */
#results_page {
  h4 {
    text-align: left;
    padding-top: 15px;
    width: 75%;
    padding-left: 13%;
    font-weight: bold;
  }
  table {
    border-collapse: collapse;
    width: 75%;
    margin-left:auto; 
    margin-right:auto;

  }

  th, td {
    padding: 6px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  tr:hover{background-color:#f5f5f5}
}